.catcard {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background: white;
  padding: var(--space-lg);
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.catcard img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.catcard h2 {
  font-size: var(--font-lg);
  font-weight: 700;
}
