/* SearchBar.module.css */

.searchbar {
  display: flex;
  align-items: center;
  padding: var(--space-sm);
  background-color: var(--bg-color);
  border-radius: 8px;
}

input {
  border: 1px solid var(--secondary);
  border-radius: 4px;
  padding: var(--space-sm);
  font-size: var(--font-md);
  color: var(--text);
  background-color: white;
  flex-grow: 1;
}

button {
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 4px;
  padding: var(--space-sm);
  font-size: var(--font-sm);
  cursor: pointer;
  transition: background-color 0.2s ease;
  flex-grow: 1;
}

button:hover {
  background-color: var(--primary);
}

button:focus {
  outline: none;
}
